button {
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 30px;
  border: 1px solid #fff;
  background-color: #007f7f;
  max-height: 46px;
  cursor: pointer;
}

input {
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #007f7f;
  margin-right: 20px;
}
